*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#pagina{
    height: 100vh;
}

#cabecalho{
    background-color: #002D5B;
    height: 60px;
    font-size: 30px;
    text-align: center;
    color: #F3E404;
}

#sessao_semelhanca{
    
    height: 30%;
    padding: 10px;

    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;  
    place-items: start center;
}

#titulo_semelhanca{
    color: #9B863C;
}
p{
    color: #002D5B;
    font-size: 20px;

}

#imagem1{
    
    height: 200px;
    width: 400px;
}
#foto_gestalt{
    height: 200px ;
    width: 400px;
}

#sessao_proximidade{
    
    height: 50%;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
#titulo_proximidade{
    color: #9B863C;
}
#imagem2{
  
    height: 200px;
    width: 400px;
}
#foto_2{
    height: 200px;
    width: 400px;
}

