* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#sessao_principal {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr;
  gap: 15px;
  padding: 15px;
 
}

#cabecalho {
  background: deepskyblue;
  grid-column: 1 / 3; /* ocupa as duas colunas */

    display: grid;
    grid-template-areas: 
    'logo menu_principal menu_principal';
    padding: 10px;
}

#logo{
    background-color: brown;
    height: 90px;
    width: 90px;

    grid-area: logo;
}

#menu_principal{
    background-color: brown;
    height: 70px;
    grid-area: menu_principal;

    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr;

}

ul{

}



.bloco_generico {
  background: deepskyblue;
  height: 300px; 
}

@media (max-width: 600px) {
  #sessao_principal {
    grid-template-columns: 1fr; 
    grid-template-rows: auto;   /* cada item ocupa sua linha */
  }

  #cabecalho {
    grid-column: 1; 
  }
}